argostranslate
black
black[jupyter]
cachier
catboost
jupyter
jupyter-book
matplotlib
matplotlib-venn
networkx
numpy
pandas
pytest
scikit-learn
scipy
seaborn
shap
spacy
statsmodels
tqdm
transformers
yake

altair
nx-altair